In [5]:
import pandas as pd
import numpy as np

In [6]:
path = "C:\\Users\\Sanjay\\OneDrive\\Desktop\\pandas\\employees.csv"

In [7]:
employees_df = pd.read_csv(path)

In [8]:
employees_df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

In [9]:
employees_df.dtypes

emp_no         int64
birth_date    object
first_name    object
last_name     object
gender        object
hire_date     object
dtype: object

In [10]:
new_df = pd.read_csv(path,parse_dates=(["birth_date","hire_date"]))

In [11]:
new_df.head()

   emp_no birth_date first_name last_name gender  hire_date
0   10001 1953-09-02     Georgi   Facello      M 1986-06-26
1   10002 1964-06-02    Bezalel    Simmel      F 1985-11-21
2   10003 1959-12-03      Parto   Bamford      M 1986-08-28
3   10004 1954-05-01  Chirstian   Koblick      M 1986-12-01
4   10005 1955-01-21    Kyoichi  Maliniak      M 1989-09-12

In [12]:
new_df.dtypes

emp_no                 int64
birth_date    datetime64[ns]
first_name            object
last_name             object
gender                object
hire_date     datetime64[ns]
dtype: object

In [13]:
new_df["first_name"] == "Georgi"

0      True
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: first_name, Length: 100, dtype: bool

In [14]:
new_df[new_df["first_name"] == "Georgi"]

   emp_no birth_date first_name last_name gender  hire_date
0   10001 1953-09-02     Georgi   Facello      M 1986-06-26

In [15]:
new_df[new_df["emp_no"] == 10016]

    emp_no birth_date first_name    last_name gender  hire_date
15   10016 1961-05-02   Kazuhito  Cappelletti      M 1995-01-27

In [16]:
new_df[new_df['emp_no'] > 10080]

    emp_no birth_date   first_name     last_name gender  hire_date
80   10081 1960-12-17     Zhongwei         Rosen      M 1986-10-30
81   10082 1963-09-09       Parviz         Lortz      M 1990-01-03
82   10083 1959-07-23        Vishv       Zockler      M 1987-03-31
83   10084 1960-05-25        Tuval      Kalloufi      M 1995-12-15
84   10085 1962-11-07      Kenroku     Malabarba      M 1994-04-09
85   10086 1962-11-19      Somnath         Foote      M 1990-02-16
86   10087 1959-07-23      Xinglin       Eugenio      F 1986-09-08
87   10088 1954-02-25     Jungsoon      Syrzycki      F 1988-09-02
88   10089 1963-03-21    Sudharsan  Flasterstein      F 1986-08-12
89   10090 1961-05-30       Kendra       Hofting      M 1986-03-14
90   10091 1955-10-04      Amabile       Gomatam      M 1992-11-18
91   10092 1964-10-18    Valdiodio       Niizuma      F 1989-09-22
92   10093 1964-06-11      Sailaja       Desikan      M 1996-11-05
93   10094 1957-05-25     Arumugam  Ossenbruggen      F 1987-04-18
94   10095 1965-01-03       Hilari        Morton      M 1986-07-15
95   10096 1954-09-16       Jayson       Mandell      M 1990-01-14
96   10097 1952-02-27        Remzi   Waschkowski      M 1990-09-15
97   10098 1961-09-23  Sreekrishna     Servieres      F 1985-05-13
98   10099 1956-05-25       Valter       Sullins      F 1988-10-18
99   10100 1953-04-21     Hironobu     Haraldson      F 1987-09-21

In [17]:
new_df[new_df['emp_no'] < 10015]

    emp_no birth_date first_name  last_name gender  hire_date
0    10001 1953-09-02     Georgi    Facello      M 1986-06-26
1    10002 1964-06-02    Bezalel     Simmel      F 1985-11-21
2    10003 1959-12-03      Parto    Bamford      M 1986-08-28
3    10004 1954-05-01  Chirstian    Koblick      M 1986-12-01
4    10005 1955-01-21    Kyoichi   Maliniak      M 1989-09-12
5    10006 1953-04-20     Anneke    Preusig      F 1989-06-02
6    10007 1957-05-23    Tzvetan  Zielinski      F 1989-02-10
7    10008 1958-02-19     Saniya   Kalloufi      M 1994-09-15
8    10009 1952-04-19     Sumant       Peac      F 1985-02-18
9    10010 1963-06-01  Duangkaew   Piveteau      F 1989-08-24
10   10011 1953-11-07       Mary      Sluis      F 1990-01-22
11   10012 1960-10-04   Patricio  Bridgland      M 1992-12-18
12   10013 1963-06-07  Eberhardt     Terkki      M 1985-10-20
13   10014 1956-02-12      Berni      Genin      M 1987-03-11

In [18]:
pd.set_option('display.max_rows',None)

In [19]:
new_df

    emp_no birth_date   first_name     last_name gender  hire_date
0    10001 1953-09-02       Georgi       Facello      M 1986-06-26
1    10002 1964-06-02      Bezalel        Simmel      F 1985-11-21
2    10003 1959-12-03        Parto       Bamford      M 1986-08-28
3    10004 1954-05-01    Chirstian       Koblick      M 1986-12-01
4    10005 1955-01-21      Kyoichi      Maliniak      M 1989-09-12
5    10006 1953-04-20       Anneke       Preusig      F 1989-06-02
6    10007 1957-05-23      Tzvetan     Zielinski      F 1989-02-10
7    10008 1958-02-19       Saniya      Kalloufi      M 1994-09-15
8    10009 1952-04-19       Sumant          Peac      F 1985-02-18
9    10010 1963-06-01    Duangkaew      Piveteau      F 1989-08-24
10   10011 1953-11-07         Mary         Sluis      F 1990-01-22
11   10012 1960-10-04     Patricio     Bridgland      M 1992-12-18
12   10013 1963-06-07    Eberhardt        Terkki      M 1985-10-20
13   10014 1956-02-12        Berni         Genin      M 1987-03-11
14   10015 1959-08-19     Guoxiang     Nooteboom      M 1987-07-02
15   10016 1961-05-02     Kazuhito   Cappelletti      M 1995-01-27
16   10017 1958-07-06    Cristinel     Bouloucos      F 1993-08-03
17   10018 1954-06-19     Kazuhide          Peha      F 1987-04-03
18   10019 1953-01-23      Lillian       Haddadi      M 1999-04-30
19   10020 1952-12-24       Mayuko       Warwick      M 1991-01-26
20   10021 1960-02-20        Ramzi          Erde      M 1988-02-10
21   10022 1952-07-08       Shahaf        Famili      M 1995-08-22
22   10023 1953-09-29        Bojan    Montemayor      F 1989-12-17
23   10024 1958-09-05      Suzette        Pettey      F 1997-05-19
24   10025 1958-10-31    Prasadram        Heyers      M 1987-08-17
25   10026 1953-04-03     Yongqiao      Berztiss      M 1995-03-20
26   10027 1962-07-10       Divier       Reistad      F 1989-07-07
27   10028 1963-11-26     Domenick      Tempesti      M 1991-10-22
28   10029 1956-12-13        Otmar        Herbst      M 1985-11-20
29   10030 1958-07-14        Elvis       Demeyer      M 1994-02-17
30   10031 1959-01-27      Karsten        Joslin      M 1991-09-01
31   10032 1960-08-09        Jeong       Reistad      F 1990-06-20
32   10033 1956-11-14         Arif         Merlo      M 1987-03-18
33   10034 1962-12-29        Bader          Swan      M 1988-09-21
34   10035 1953-02-08        Alain     Chappelet      M 1988-09-05
35   10036 1959-08-10   Adamantios     Portugali      M 1992-01-03
36   10037 1963-07-22      Pradeep      Makrucki      M 1990-12-05
37   10038 1960-07-20         Huan         Lortz      M 1989-09-20
38   10039 1959-10-01    Alejandro       Brender      M 1988-01-19
39   10040 1959-09-13        Weiyi       Meriste      F 1993-02-14
40   10041 1959-08-27          Uri        Lenart      F 1989-11-12
41   10042 1956-02-26         Magy     Stamatiou      F 1993-03-21
42   10043 1960-09-19       Yishay       Tzvieli      M 1990-10-20
43   10044 1961-09-21      Mingsen        Casley      F 1994-05-21
44   10045 1957-08-14         Moss    Shanbhogue      M 1989-09-02
45   10046 1960-07-23       Lucien     Rosenbaum      M 1992-06-20
46   10047 1952-06-29       Zvonko     Nyanchama      M 1989-03-31
47   10048 1963-07-11      Florian      Syrotiuk      M 1985-02-24
48   10049 1961-04-24        Basil        Tramer      F 1992-05-04
49   10050 1958-05-21      Yinghua        Dredge      M 1990-12-25
50   10051 1953-07-28     Hidefumi         Caine      M 1992-10-15
51   10052 1961-02-26       Heping        Nitsch      M 1988-05-21
52   10053 1954-09-13       Sanjiv      Zschoche      F 1986-02-04
53   10054 1957-04-04       Mayumi     Schueller      M 1995-03-13
54   10055 1956-06-06       Georgy        Dredge      M 1992-04-27
55   10056 1961-09-01      Brendon       Bernini      F 1990-02-01
56   10057 1954-05-30         Ebbe      Callaway      F 1992-01-15
57   10058 1954-10-01      Berhard      McFarlin      M 1987-04-13
58   10059 1953-09-19    Alejandro      McAlpine      F 1991-06-26
59   10060 1961-10-15     Breannda   Billingsley      M 1987-11-02
60   10061 1962-10-19          Tse        Herber      M 1985-09-17
61   10062 1961-11-02       Anoosh          Peyn      M 1991-08-30
62   10063 1952-08-06         Gino     Leonhardt      F 1989-04-08
63   10064 1959-04-07          Udi        Jansch      M 1985-11-20
64   10065 1963-04-14       Satosi         Awdeh      M 1988-05-18
65   10066 1952-11-13         Kwee      Schusler      M 1986-02-26
66   10067 1953-01-07       Claudi      Stavenow      M 1987-03-04
67   10068 1962-11-26     Charlene       Brattka      M 1987-08-07
68   10069 1960-09-06    Margareta       Bierman      F 1989-11-05
69   10070 1955-08-20       Reuven    Garigliano      M 1985-10-14
70   10071 1958-01-21        Hisao        Lipner      M 1987-10-01
71   10072 1952-05-15     Hironoby         Sidou      F 1988-07-21
72   10073 1954-02-23         Shir       McClurg      M 1991-12-01
73   10074 1955-08-28      Mokhtar     Bernatsky      F 1990-08-13
74   10075 1960-03-09          Gao      Dolinsky      F 1987-03-19
75   10076 1952-06-13         Erez      Ritzmann      F 1985-07-09
76   10077 1964-04-18         Mona         Azuma      M 1990-03-02
77   10078 1959-12-25        Danel     Mondadori      F 1987-05-26
78   10079 1961-10-05      Kshitij          Gils      F 1986-03-27
79   10080 1957-12-03       Premal          Baek      M 1985-11-19
80   10081 1960-12-17     Zhongwei         Rosen      M 1986-10-30
81   10082 1963-09-09       Parviz         Lortz      M 1990-01-03
82   10083 1959-07-23        Vishv       Zockler      M 1987-03-31
83   10084 1960-05-25        Tuval      Kalloufi      M 1995-12-15
84   10085 1962-11-07      Kenroku     Malabarba      M 1994-04-09
85   10086 1962-11-19      Somnath         Foote      M 1990-02-16
86   10087 1959-07-23      Xinglin       Eugenio      F 1986-09-08
87   10088 1954-02-25     Jungsoon      Syrzycki      F 1988-09-02
88   10089 1963-03-21    Sudharsan  Flasterstein      F 1986-08-12
89   10090 1961-05-30       Kendra       Hofting      M 1986-03-14
90   10091 1955-10-04      Amabile       Gomatam      M 1992-11-18
91   10092 1964-10-18    Valdiodio       Niizuma      F 1989-09-22
92   10093 1964-06-11      Sailaja       Desikan      M 1996-11-05
93   10094 1957-05-25     Arumugam  Ossenbruggen      F 1987-04-18
94   10095 1965-01-03       Hilari        Morton      M 1986-07-15
95   10096 1954-09-16       Jayson       Mandell      M 1990-01-14
96   10097 1952-02-27        Remzi   Waschkowski      M 1990-09-15
97   10098 1961-09-23  Sreekrishna     Servieres      F 1985-05-13
98   10099 1956-05-25       Valter       Sullins      F 1988-10-18
99   10100 1953-04-21     Hironobu     Haraldson      F 1987-09-21

In [20]:
new_df[(new_df['first_name'] == 'Pradeep') & (new_df['gender'] == 'M')]

    emp_no birth_date first_name last_name gender  hire_date
36   10037 1963-07-22    Pradeep  Makrucki      M 1990-12-05

In [21]:
new_df[(new_df['first_name'] == 'Pradeep') | (new_df['first_name'] != 'Arumugam')]

    emp_no birth_date   first_name     last_name gender  hire_date
0    10001 1953-09-02       Georgi       Facello      M 1986-06-26
1    10002 1964-06-02      Bezalel        Simmel      F 1985-11-21
2    10003 1959-12-03        Parto       Bamford      M 1986-08-28
3    10004 1954-05-01    Chirstian       Koblick      M 1986-12-01
4    10005 1955-01-21      Kyoichi      Maliniak      M 1989-09-12
5    10006 1953-04-20       Anneke       Preusig      F 1989-06-02
6    10007 1957-05-23      Tzvetan     Zielinski      F 1989-02-10
7    10008 1958-02-19       Saniya      Kalloufi      M 1994-09-15
8    10009 1952-04-19       Sumant          Peac      F 1985-02-18
9    10010 1963-06-01    Duangkaew      Piveteau      F 1989-08-24
10   10011 1953-11-07         Mary         Sluis      F 1990-01-22
11   10012 1960-10-04     Patricio     Bridgland      M 1992-12-18
12   10013 1963-06-07    Eberhardt        Terkki      M 1985-10-20
13   10014 1956-02-12        Berni         Genin      M 1987-03-11
14   10015 1959-08-19     Guoxiang     Nooteboom      M 1987-07-02
15   10016 1961-05-02     Kazuhito   Cappelletti      M 1995-01-27
16   10017 1958-07-06    Cristinel     Bouloucos      F 1993-08-03
17   10018 1954-06-19     Kazuhide          Peha      F 1987-04-03
18   10019 1953-01-23      Lillian       Haddadi      M 1999-04-30
19   10020 1952-12-24       Mayuko       Warwick      M 1991-01-26
20   10021 1960-02-20        Ramzi          Erde      M 1988-02-10
21   10022 1952-07-08       Shahaf        Famili      M 1995-08-22
22   10023 1953-09-29        Bojan    Montemayor      F 1989-12-17
23   10024 1958-09-05      Suzette        Pettey      F 1997-05-19
24   10025 1958-10-31    Prasadram        Heyers      M 1987-08-17
25   10026 1953-04-03     Yongqiao      Berztiss      M 1995-03-20
26   10027 1962-07-10       Divier       Reistad      F 1989-07-07
27   10028 1963-11-26     Domenick      Tempesti      M 1991-10-22
28   10029 1956-12-13        Otmar        Herbst      M 1985-11-20
29   10030 1958-07-14        Elvis       Demeyer      M 1994-02-17
30   10031 1959-01-27      Karsten        Joslin      M 1991-09-01
31   10032 1960-08-09        Jeong       Reistad      F 1990-06-20
32   10033 1956-11-14         Arif         Merlo      M 1987-03-18
33   10034 1962-12-29        Bader          Swan      M 1988-09-21
34   10035 1953-02-08        Alain     Chappelet      M 1988-09-05
35   10036 1959-08-10   Adamantios     Portugali      M 1992-01-03
36   10037 1963-07-22      Pradeep      Makrucki      M 1990-12-05
37   10038 1960-07-20         Huan         Lortz      M 1989-09-20
38   10039 1959-10-01    Alejandro       Brender      M 1988-01-19
39   10040 1959-09-13        Weiyi       Meriste      F 1993-02-14
40   10041 1959-08-27          Uri        Lenart      F 1989-11-12
41   10042 1956-02-26         Magy     Stamatiou      F 1993-03-21
42   10043 1960-09-19       Yishay       Tzvieli      M 1990-10-20
43   10044 1961-09-21      Mingsen        Casley      F 1994-05-21
44   10045 1957-08-14         Moss    Shanbhogue      M 1989-09-02
45   10046 1960-07-23       Lucien     Rosenbaum      M 1992-06-20
46   10047 1952-06-29       Zvonko     Nyanchama      M 1989-03-31
47   10048 1963-07-11      Florian      Syrotiuk      M 1985-02-24
48   10049 1961-04-24        Basil        Tramer      F 1992-05-04
49   10050 1958-05-21      Yinghua        Dredge      M 1990-12-25
50   10051 1953-07-28     Hidefumi         Caine      M 1992-10-15
51   10052 1961-02-26       Heping        Nitsch      M 1988-05-21
52   10053 1954-09-13       Sanjiv      Zschoche      F 1986-02-04
53   10054 1957-04-04       Mayumi     Schueller      M 1995-03-13
54   10055 1956-06-06       Georgy        Dredge      M 1992-04-27
55   10056 1961-09-01      Brendon       Bernini      F 1990-02-01
56   10057 1954-05-30         Ebbe      Callaway      F 1992-01-15
57   10058 1954-10-01      Berhard      McFarlin      M 1987-04-13
58   10059 1953-09-19    Alejandro      McAlpine      F 1991-06-26
59   10060 1961-10-15     Breannda   Billingsley      M 1987-11-02
60   10061 1962-10-19          Tse        Herber      M 1985-09-17
61   10062 1961-11-02       Anoosh          Peyn      M 1991-08-30
62   10063 1952-08-06         Gino     Leonhardt      F 1989-04-08
63   10064 1959-04-07          Udi        Jansch      M 1985-11-20
64   10065 1963-04-14       Satosi         Awdeh      M 1988-05-18
65   10066 1952-11-13         Kwee      Schusler      M 1986-02-26
66   10067 1953-01-07       Claudi      Stavenow      M 1987-03-04
67   10068 1962-11-26     Charlene       Brattka      M 1987-08-07
68   10069 1960-09-06    Margareta       Bierman      F 1989-11-05
69   10070 1955-08-20       Reuven    Garigliano      M 1985-10-14
70   10071 1958-01-21        Hisao        Lipner      M 1987-10-01
71   10072 1952-05-15     Hironoby         Sidou      F 1988-07-21
72   10073 1954-02-23         Shir       McClurg      M 1991-12-01
73   10074 1955-08-28      Mokhtar     Bernatsky      F 1990-08-13
74   10075 1960-03-09          Gao      Dolinsky      F 1987-03-19
75   10076 1952-06-13         Erez      Ritzmann      F 1985-07-09
76   10077 1964-04-18         Mona         Azuma      M 1990-03-02
77   10078 1959-12-25        Danel     Mondadori      F 1987-05-26
78   10079 1961-10-05      Kshitij          Gils      F 1986-03-27
79   10080 1957-12-03       Premal          Baek      M 1985-11-19
80   10081 1960-12-17     Zhongwei         Rosen      M 1986-10-30
81   10082 1963-09-09       Parviz         Lortz      M 1990-01-03
82   10083 1959-07-23        Vishv       Zockler      M 1987-03-31
83   10084 1960-05-25        Tuval      Kalloufi      M 1995-12-15
84   10085 1962-11-07      Kenroku     Malabarba      M 1994-04-09
85   10086 1962-11-19      Somnath         Foote      M 1990-02-16
86   10087 1959-07-23      Xinglin       Eugenio      F 1986-09-08
87   10088 1954-02-25     Jungsoon      Syrzycki      F 1988-09-02
88   10089 1963-03-21    Sudharsan  Flasterstein      F 1986-08-12
89   10090 1961-05-30       Kendra       Hofting      M 1986-03-14
90   10091 1955-10-04      Amabile       Gomatam      M 1992-11-18
91   10092 1964-10-18    Valdiodio       Niizuma      F 1989-09-22
92   10093 1964-06-11      Sailaja       Desikan      M 1996-11-05
94   10095 1965-01-03       Hilari        Morton      M 1986-07-15
95   10096 1954-09-16       Jayson       Mandell      M 1990-01-14
96   10097 1952-02-27        Remzi   Waschkowski      M 1990-09-15
97   10098 1961-09-23  Sreekrishna     Servieres      F 1985-05-13
98   10099 1956-05-25       Valter       Sullins      F 1988-10-18
99   10100 1953-04-21     Hironobu     Haraldson      F 1987-09-21

In [22]:
filter1 = new_df['emp_no'] > 10060

In [23]:
new_df.loc[filter1,"emp_no":"gender"]

    emp_no birth_date   first_name     last_name gender
60   10061 1962-10-19          Tse        Herber      M
61   10062 1961-11-02       Anoosh          Peyn      M
62   10063 1952-08-06         Gino     Leonhardt      F
63   10064 1959-04-07          Udi        Jansch      M
64   10065 1963-04-14       Satosi         Awdeh      M
65   10066 1952-11-13         Kwee      Schusler      M
66   10067 1953-01-07       Claudi      Stavenow      M
67   10068 1962-11-26     Charlene       Brattka      M
68   10069 1960-09-06    Margareta       Bierman      F
69   10070 1955-08-20       Reuven    Garigliano      M
70   10071 1958-01-21        Hisao        Lipner      M
71   10072 1952-05-15     Hironoby         Sidou      F
72   10073 1954-02-23         Shir       McClurg      M
73   10074 1955-08-28      Mokhtar     Bernatsky      F
74   10075 1960-03-09          Gao      Dolinsky      F
75   10076 1952-06-13         Erez      Ritzmann      F
76   10077 1964-04-18         Mona         Azuma      M
77   10078 1959-12-25        Danel     Mondadori      F
78   10079 1961-10-05      Kshitij          Gils      F
79   10080 1957-12-03       Premal          Baek      M
80   10081 1960-12-17     Zhongwei         Rosen      M
81   10082 1963-09-09       Parviz         Lortz      M
82   10083 1959-07-23        Vishv       Zockler      M
83   10084 1960-05-25        Tuval      Kalloufi      M
84   10085 1962-11-07      Kenroku     Malabarba      M
85   10086 1962-11-19      Somnath         Foote      M
86   10087 1959-07-23      Xinglin       Eugenio      F
87   10088 1954-02-25     Jungsoon      Syrzycki      F
88   10089 1963-03-21    Sudharsan  Flasterstein      F
89   10090 1961-05-30       Kendra       Hofting      M
90   10091 1955-10-04      Amabile       Gomatam      M
91   10092 1964-10-18    Valdiodio       Niizuma      F
92   10093 1964-06-11      Sailaja       Desikan      M
93   10094 1957-05-25     Arumugam  Ossenbruggen      F
94   10095 1965-01-03       Hilari        Morton      M
95   10096 1954-09-16       Jayson       Mandell      M
96   10097 1952-02-27        Remzi   Waschkowski      M
97   10098 1961-09-23  Sreekrishna     Servieres      F
98   10099 1956-05-25       Valter       Sullins      F
99   10100 1953-04-21     Hironobu     Haraldson      F

In [24]:
names_list = ["Pradeep","Sreekrishna","Arumugam","Sailaja"]

In [25]:
filter2 = new_df["first_name"].isin(names_list)

In [26]:
new_df.loc[filter2,["first_name","last_name","gender"]]

     first_name     last_name gender
36      Pradeep      Makrucki      M
92      Sailaja       Desikan      M
93     Arumugam  Ossenbruggen      F
97  Sreekrishna     Servieres      F

In [27]:
new_df[new_df["first_name"].str.contains("S")]

    emp_no birth_date   first_name     last_name gender  hire_date
7    10008 1958-02-19       Saniya      Kalloufi      M 1994-09-15
8    10009 1952-04-19       Sumant          Peac      F 1985-02-18
21   10022 1952-07-08       Shahaf        Famili      M 1995-08-22
23   10024 1958-09-05      Suzette        Pettey      F 1997-05-19
52   10053 1954-09-13       Sanjiv      Zschoche      F 1986-02-04
64   10065 1963-04-14       Satosi         Awdeh      M 1988-05-18
72   10073 1954-02-23         Shir       McClurg      M 1991-12-01
85   10086 1962-11-19      Somnath         Foote      M 1990-02-16
88   10089 1963-03-21    Sudharsan  Flasterstein      F 1986-08-12
92   10093 1964-06-11      Sailaja       Desikan      M 1996-11-05
97   10098 1961-09-23  Sreekrishna     Servieres      F 1985-05-13