In [1]:
import pandas as pd

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 326.8 kB/s eta 0:00:44
   ---------------------------------------- 0.1/14.3 MB 435.7 kB/s eta 0:00:33
   ---------------------------------------- 0.2/14.3 MB 762.6 kB/s eta 0:00:19
    --------------------------------------- 0.2/14.3 MB 871.5 kB/s eta 0:00:17
    --------------------------------------- 0.3/14.3 MB 1.0 MB/s eta 0:00:14
   - -------------------------------------- 0.4/14.3 MB 1.1 MB/s eta 0:00:13
   - -------------------------------------- 0.5/14.3 MB 1.2 MB/s eta 0:00:12
   - -------------------------------------- 0.6/14.3 MB 1.3 MB/s eta 0:00:11
   - -------------------------------------- 0.7/14.3 MB 1.4 MB/s eta 0:00:10
   -- ------------------------------------- 0.8/14.3 MB 1.5 MB/s eta 0:00:10
   -- ------------------------------------- 0.9/14.3 MB 1.6 MB/s eta 0:00:09
   -- ------------------------------------- 1.0/14.3 MB 1.6 MB/s eta 0:00:09
   --- ------------------------------------ 1.2/14.3 MB 1.7 MB/s eta 0:00:08
   --- ------------------------------------ 1.3/14.3 MB 1.8 MB/s eta 0:00:08
   ---- ----------------------------------- 1.4/14.3 MB 1.9 MB/s eta 0:00:07
   ---- ----------------------------------- 1.6/14.3 MB 2.0 MB/s eta 0:00:07
   ---- ----------------------------------- 1.7/14.3 MB 2.0 MB/s eta 0:00:07
   ----- ---------------------------------- 1.9/14.3 MB 2.1 MB/s eta 0:00:07
   ----- ---------------------------------- 2.0/14.3 MB 2.1 MB/s eta 0:00:06
   ----- ---------------------------------- 2.1/14.3 MB 2.1 MB/s eta 0:00:06
   ------ --------------------------------- 2.2/14.3 MB 2.1 MB/s eta 0:00:06
   ------ --------------------------------- 2.2/14.3 MB 2.1 MB/s eta 0:00:06
   ------ --------------------------------- 2.3/14.3 MB 2.1 MB/s eta 0:00:06
   ------ --------------------------------- 2.4/14.3 MB 2.0 MB/s eta 0:00:06
   ------ --------------------------------- 2.5/14.3 MB 2.0 MB/s eta 0:00:06
   ------- -------------------------------- 2.5/14.3 MB 2.0 MB/s eta 0:00:06
   ------- -------------------------------- 2.6/14.3 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.6/14.3 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.6/14.3 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.6/14.3 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.6/14.3 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.8/14.3 MB 1.8 MB/s eta 0:00:07
   -------- ------------------------------- 2.9/14.3 MB 1.8 MB/s eta 0:00:07
   -------- ------------------------------- 3.0/14.3 MB 1.8 MB/s eta 0:00:07
   -------- ------------------------------- 3.1/14.3 MB 1.8 MB/s eta 0:00:07
   -------- ------------------------------- 3.2/14.3 MB 1.8 MB/s eta 0:00:07
   --------- ------------------------------ 3.3/14.3 MB 1.8 MB/s eta 0:00:06
   --------- ------------------------------ 3.4/14.3 MB 1.9 MB/s eta 0:00:06
   --------- ------------------------------ 3.6/14.3 MB 1.9 MB/s eta 0:00:06
   ---------- ----------------------------- 3.7/14.3 MB 1.9 MB/s eta 0:00:06
   ---------- ----------------------------- 3.8/14.3 MB 1.9 MB/s eta 0:00:06
   ---------- ----------------------------- 3.9/14.3 MB 1.9 MB/s eta 0:00:06
   ----------- ---------------------------- 4.1/14.3 MB 2.0 MB/s eta 0:00:06
   ----------- ---------------------------- 4.2/14.3 MB 2.0 MB/s eta 0:00:06
   ----------- ---------------------------- 4.3/14.3 MB 2.0 MB/s eta 0:00:06
   ------------ --------------------------- 4.4/14.3 MB 2.0 MB/s eta 0:00:05
   ------------ --------------------------- 4.5/14.3 MB 2.0 MB/s eta 0:00:05
   ------------ --------------------------- 4.7/14.3 MB 2.0 MB/s eta 0:00:05
   ------------- -------------------------- 4.7/14.3 MB 2.0 MB/s eta 0:00:05
   ------------- -------------------------- 4.9/14.3 MB 2.1 MB/s eta 0:00:05
   -------------- ------------------------- 5.0/14.3 MB 2.1 MB/s eta 0:00:05
   -------------- ------------------------- 5.2/14.3 MB 2.1 MB/s eta 0:00:05
   -------------- ------------------------- 5.3/14.3 MB 2.1 MB/s eta 0:00:05
   --------------- ------------------------ 5.5/14.3 MB 2.2 MB/s eta 0:00:05
   --------------- ------------------------ 5.6/14.3 MB 2.2 MB/s eta 0:00:05
   ---------------- ----------------------- 5.8/14.3 MB 2.2 MB/s eta 0:00:04
   ---------------- ----------------------- 5.9/14.3 MB 2.2 MB/s eta 0:00:04
   ---------------- ----------------------- 6.1/14.3 MB 2.2 MB/s eta 0:00:04
   ----------------- ---------------------- 6.3/14.3 MB 2.3 MB/s eta 0:00:04
   ----------------- ---------------------- 6.4/14.3 MB 2.3 MB/s eta 0:00:04
   ----------------- ---------------------- 6.4/14.3 MB 2.3 MB/s eta 0:00:04
   ------------------ --------------------- 6.7/14.3 MB 2.3 MB/s eta 0:00:04
   ------------------ --------------------- 6.8/14.3 MB 2.3 MB/s eta 0:00:04
   ------------------- -------------------- 6.9/14.3 MB 2.3 MB/s eta 0:00:04
   ------------------- -------------------- 7.0/14.3 MB 2.3 MB/s eta 0:00:04
   ------------------- -------------------- 7.1/14.3 MB 2.3 MB/s eta 0:00:04
   -------------------- ------------------- 7.2/14.3 MB 2.3 MB/s eta 0:00:04
   -------------------- ------------------- 7.4/14.3 MB 2.3 MB/s eta 0:00:03
   -------------------- ------------------- 7.5/14.3 MB 2.3 MB/s eta 0:00:03
   --------------------- ------------------ 7.6/14.3 MB 2.3 MB/s eta 0:00:03
   --------------------- ------------------ 7.7/14.3 MB 2.3 MB/s eta 0:00:03
   --------------------- ------------------ 7.8/14.3 MB 2.4 MB/s eta 0:00:03
   ---------------------- ----------------- 7.9/14.3 MB 2.4 MB/s eta 0:00:03
   ---------------------- ----------------- 8.1/14.3 MB 2.4 MB/s eta 0:00:03
   ---------------------- ----------------- 8.2/14.3 MB 2.4 MB/s eta 0:00:03
   ----------------------- ---------------- 8.4/14.3 MB 2.4 MB/s eta 0:00:03
   ----------------------- ---------------- 8.5/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------ --------------- 8.7/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------ --------------- 8.8/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------ --------------- 8.9/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------- -------------- 9.0/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------- -------------- 9.1/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------- -------------- 9.1/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------- -------------- 9.2/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------- -------------- 9.2/14.3 MB 2.4 MB/s eta 0:00:03
   ------------------------- -------------- 9.3/14.3 MB 2.4 MB/s eta 0:00:03
   -------------------------- ------------- 9.3/14.3 MB 2.3 MB/s eta 0:00:03
   -------------------------- ------------- 9.4/14.3 MB 2.3 MB/s eta 0:00:03
   -------------------------- ------------- 9.4/14.3 MB 2.3 MB/s eta 0:00:03
   -------------------------- ------------- 9.5/14.3 MB 2.3 MB/s eta 0:00:03
   -------------------------- ------------- 9.5/14.3 MB 2.3 MB/s eta 0:00:03
   -------------------------- ------------- 9.6/14.3 MB 2.3 MB/s eta 0:00:03
   --------------------------- ------------ 9.7/14.3 MB 2.3 MB/s eta 0:00:03
   --------------------------- ------------ 9.7/14.3 MB 2.3 MB/s eta 0:00:03
   --------------------------- ------------ 9.9/14.3 MB 2.3 MB/s eta 0:00:02
   --------------------------- ------------ 10.0/14.3 MB 2.3 MB/s eta 0:00:02
   ---------------------------- ----------- 10.1/14.3 MB 2.3 MB/s eta 0:00:02
   ---------------------------- ----------- 10.2/14.3 MB 2.3 MB/s eta 0:00:02
   ---------------------------- ----------- 10.3/14.3 MB 2.3 MB/s eta 0:00:02
   ---------------------------- ----------- 10.4/14.3 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 10.5/14.3 MB 2.3 MB/s eta 0:00:02
   ----------------------------- ---------- 10.5/14.3 MB 2.3 MB/s eta 0:00:02
   ----------------------------- ---------- 10.6/14.3 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 10.7/14.3 MB 2.3 MB/s eta 0:00:02
   ------------------------------ --------- 10.8/14.3 MB 2.3 MB/s eta 0:00:02
   ------------------------------ --------- 11.0/14.3 MB 2.4 MB/s eta 0:00:02
   ------------------------------ --------- 11.1/14.3 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 11.2/14.3 MB 2.4 MB/s eta 0:00:02
   ------------------------------- -------- 11.4/14.3 MB 2.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.6/14.3 MB 2.4 MB/s eta 0:00:02
   -------------------------------- ------- 11.7/14.3 MB 2.4 MB/s eta 0:00:02
   --------------------------------- ------ 11.9/14.3 MB 2.4 MB/s eta 0:00:02
   --------------------------------- ------ 12.0/14.3 MB 2.4 MB/s eta 0:00:01
   --------------------------------- ------ 12.2/14.3 MB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 12.3/14.3 MB 2.4 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.3 MB 2.4 MB/s eta 0:00:01
   ----------------------------------- ---- 12.6/14.3 MB 2.5 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.3 MB 2.5 MB/s eta 0:00:01
   ----------------------------------- ---- 12.9/14.3 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 13.0/14.3 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 13.2/14.3 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 13.3/14.3 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.3 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 13.5/14.3 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.3 MB 2.6 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.3 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 13.7/14.3 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 13.8/14.3 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  14.0/14.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 2.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
username = 'root'
password = 'root'
host = '127.0.0.1'  # e.g., 'localhost'
port = '3306'  # Default MySQL port
database = 'bondings'

# CSV file path
csv_file_path = 'C:\\Users\\Sanjay\\OneDrive\\Desktop\\DATASETS\\ipl-2024.csv'

# Create a SQLAlchemy engine for MySQL
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Write the DataFrame to a MySQL table
df.to_sql('ipl_data', con=engine, if_exists='replace', index=False)

print("Data loaded successfully.")

Data loaded successfully.

In [3]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
username = 'root'
password = 'root'
host = '127.0.0.1'  # e.g., 'localhost'
port = '3306'  # Default MySQL port
database = 'bondings'

# CSV file path
csv_file_path = 'C:\\Users\\Sanjay\\OneDrive\\Desktop\\DATASETS\\ipl-2024.csv'

# Create a SQLAlchemy engine for MySQL
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Write the DataFrame to a MySQL table
df.to_sql('ipl_data2', con=engine, if_exists='replace', index=False)

print("Data loaded successfully.")

Data loaded successfully.

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
username = 'root'
password = 'root'
host = '127.0.0.1'  # e.g., 'localhost'
port = '3306'  # Default MySQL port
database = 'bondings'

# CSV file path
csv_file_path = "C:\\Users\\Sanjay\\OneDrive\\Desktop\\DATASETS\\insurance.csv"

# Create a SQLAlchemy engine for MySQL
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Write the DataFrame to a MySQL table
df.to_sql('insurance_data', con=engine, if_exists='replace', index=False)

print("Data loaded successfully.")

Data loaded successfully.

In [2]:
csv_file_path = "C:\\Users\\Sanjay\\OneDrive\\Desktop\\bondings\\project\\orders.csv"
df = pd.read_csv(csv_file_path)
df.dtypes

OrderNumber            object
OrderDate              object
Ship Date              object
Customer Name Index     int64
Channel                object
Currency Code          object
Warehouse Code         object
Region Index            int64
Product  Index          int64
Order Quantity          int64
Unit Price             object
Total Unit Cost        object
Total Revenue          object
dtype: object

In [3]:
df.head()

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
0,SO - 000225,1-01-2017,13-01-2017,28,Wholesale,NZD,AXW291,71,11,6,"2,499.10","1,824.34","14,994.60"
1,SO - 0003378,1-01-2017,06-01-2017,7,Distributor,NZD,AXW291,54,7,11,"2,351.70","1,269.92","25,868.70"
2,SO - 0003901,1-01-2017,05-01-2017,12,Wholesale,NZD,AXW291,58,13,5,"1,728.60","1,019.87","8,643.00"
3,SO - 0005126,1-01-2017,17-01-2017,5,Wholesale,USD,AXW291,29,7,6,978.20,684.74,"5,869.20"
4,SO - 0005614,1-01-2017,07-01-2017,27,Export,NZD,AXW291,31,6,7,"2,338.30","1,028.85","16,368.10"

In [7]:
df.rename(columns={"Unit Price":"Selling Price", "Total Unit Cost":"Cost Price"}, inplace=True)
df.head()

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Selling Price,Cost Price,Total Revenue
0,SO - 000225,1-01-2017,13-01-2017,28,Wholesale,NZD,AXW291,71,11,6,"2,499.10","1,824.34","14,994.60"
1,SO - 0003378,1-01-2017,06-01-2017,7,Distributor,NZD,AXW291,54,7,11,"2,351.70","1,269.92","25,868.70"
2,SO - 0003901,1-01-2017,05-01-2017,12,Wholesale,NZD,AXW291,58,13,5,"1,728.60","1,019.87","8,643.00"
3,SO - 0005126,1-01-2017,17-01-2017,5,Wholesale,USD,AXW291,29,7,6,978.20,684.74,"5,869.20"
4,SO - 0005614,1-01-2017,07-01-2017,27,Export,NZD,AXW291,31,6,7,"2,338.30","1,028.85","16,368.10"

In [9]:
df.astype({"Selling Price":"float", "Cost Price":"float", "Total Revenue":"float"})

ValueError: could not convert string to float: '2,499.10': Error while type casting for column 'Selling Price'

In [13]:
df['Selling Price']=df['Selling Price'].str.replace(",","")
df['Selling Price']

0       2499.10
1       2351.70
2       1728.60
3        978.20
4       2338.30
         ...
7986     261.30
7987    1996.60
7988    3912.80
7989    1855.90
7990    3959.70
Name: Selling Price, Length: 7991, dtype: object

In [15]:
df['Cost Price']=df['Cost Price'].str.replace(",","")
df['Cost Price']

0       1824.34
1       1269.92
2       1019.87
3        684.74
4       1028.85
         ...
7986     107.13
7987    1477.48
7988    2817.22
7989    1113.54
7990    2138.24
Name: Cost Price, Length: 7991, dtype: object

In [20]:
df['Total Revenue']=df['Total Revenue'].str.replace(",","")
df['Total Revenue']

0       14994.60
1       25868.70
2        8643.00
3        5869.20
4       16368.10
          ...
7986     1829.10
7987    13976.20
7988    35215.20
7989    18559.00
7990    43556.70
Name: Total Revenue, Length: 7991, dtype: object

In [27]:
df[["Selling Price","Cost Price","Total Revenue"]]=df[["Selling Price","Cost Price","Total Revenue"]].astype({"Selling Price":"float", 
                                                                                                               "Cost Price":"float", 
                                                                                                              "Total Revenue":"float"})

In [28]:
df.dtypes

OrderNumber             object
OrderDate               object
Ship Date               object
Customer Name Index      int64
Channel                 object
Currency Code           object
Warehouse Code          object
Region Index             int64
Product  Index           int64
Order Quantity           int64
Selling Price          float64
Cost Price             float64
Total Revenue          float64
dtype: object

In [30]:
df['OrderDate']

0        1-01-2017
1        1-01-2017
2        1-01-2017
3        1-01-2017
4        1-01-2017
           ...
7986    12-12-2019
7987    12-12-2019
7988    12-12-2019
7989    12-12-2019
7990    12-12-2019
Name: OrderDate, Length: 7991, dtype: object

In [33]:
df['Ship Date']

0       13-01-2017
1       06-01-2017
2       05-01-2017
3       17-01-2017
4       07-01-2017
           ...
7986    16-12-2019
7987    27-12-2019
7988    27-12-2019
7989    25-12-2019
7990    25-12-2019
Name: Ship Date, Length: 7991, dtype: object

In [36]:
df[['OrderDate','Ship Date']]=df[['OrderDate','Ship Date']].apply(pd.to_datetime, format="%d-%m-%Y")
df[['OrderDate','Ship Date']].dtypes

OrderDate    datetime64[ns]
Ship Date    datetime64[ns]
dtype: object

In [37]:
df.dtypes

OrderNumber                    object
OrderDate              datetime64[ns]
Ship Date              datetime64[ns]
Customer Name Index             int64
Channel                        object
Currency Code                  object
Warehouse Code                 object
Region Index                    int64
Product  Index                  int64
Order Quantity                  int64
Selling Price                 float64
Cost Price                    float64
Total Revenue                 float64
dtype: object

In [40]:
df

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Selling Price,Cost Price,Total Revenue
0,SO - 000225,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291,71,11,6,2499.1,1824.34,14994.6
1,SO - 0003378,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291,54,7,11,2351.7,1269.92,25868.7
2,SO - 0003901,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291,58,13,5,1728.6,1019.87,8643.0
3,SO - 0005126,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291,29,7,6,978.2,684.74,5869.2
4,SO - 0005614,2017-01-01,2017-01-07,27,Export,NZD,AXW291,31,6,7,2338.3,1028.85,16368.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0005237,2019-12-12,2019-12-16,41,Wholesale,NZD,FLR025,93,9,7,261.3,107.13,1829.1
7987,SO - 0005477,2019-12-12,2019-12-27,28,Distributor,AUD,FLR025,56,2,7,1996.6,1477.48,13976.2
7988,SO - 0006936,2019-12-12,2019-12-27,30,Wholesale,NZD,FLR025,66,1,9,3912.8,2817.22,35215.2
7989,SO - 0007126,2019-12-12,2019-12-25,6,Distributor,USD,FLR025,31,5,10,1855.9,1113.54,18559.0
7990,SO - 0007668,2019-12-12,2019-12-25,4,Wholesale,NZD,FLR025,65,13,11,3959.7,2138.24,43556.7

In [41]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
username = 'root'
password = 'root'
host = '127.0.0.1'  # e.g., 'localhost'
port = '3306'  # Default MySQL port
database = 'sales_analysis'



# Create a SQLAlchemy engine for MySQL
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

print(df.head())
# Write the DataFrame to a MySQL table
df.to_sql('orders', con=engine, if_exists='replace', index=False)

print("Data loaded successfully.")

    OrderNumber  OrderDate  Ship Date  Customer Name Index      Channel  \
0   SO - 000225 2017-01-01 2017-01-13                   28    Wholesale
1  SO - 0003378 2017-01-01 2017-01-06                    7  Distributor
2  SO - 0003901 2017-01-01 2017-01-05                   12    Wholesale
3  SO - 0005126 2017-01-01 2017-01-17                    5    Wholesale
4  SO - 0005614 2017-01-01 2017-01-07                   27       Export

  Currency Code Warehouse Code  Region Index  Product  Index  Order Quantity  \
0           NZD         AXW291            71              11               6
1           NZD         AXW291            54               7              11
2           NZD         AXW291            58              13               5
3           USD         AXW291            29               7               6
4           NZD         AXW291            31               6               7

   Selling Price  Cost Price  Total Revenue
0         2499.1     1824.34        14994.6
1         2351.7     1269.92        25868.7
2         1728.6     1019.87         8643.0
3          978.2      684.74         5869.2
4         2338.3     1028.85        16368.1
Data loaded successfully.

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
username = 'root'
password = 'root'
host = '127.0.0.1'  # e.g., 'localhost'
port = '3306'  # Default MySQL port
database = 'sales_analysis'

# CSV file path
csv_file_path = "C:\\Users\\Sanjay\\OneDrive\\Desktop\\bondings\\project\\customers.csv"

# Create a SQLAlchemy engine for MySQL
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Write the DataFrame to a MySQL table
df.to_sql('customers', con=engine, if_exists='replace', index=False)

print("Data loaded successfully.")

Data loaded successfully.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection parameters
username = 'root'
password = 'root'
host = '127.0.0.1'  # e.g., 'localhost'
port = '3306'  # Default MySQL port
database = 'sales_analysis'

# CSV file path
csv_file_path = "C:\\Users\\Sanjay\\OneDrive\\Desktop\\bondings\\project\\products.csv"

# Create a SQLAlchemy engine for MySQL
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Write the DataFrame to a MySQL table
df.to_sql('products', con=engine, if_exists='replace', index=False)

print("Data loaded successfully.")