In [1]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython-sql) (2.0.30)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\sanjay\anaconda3\new folder\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.2 kB ? eta -:--:--
   ---------------------------------------- 44.2/44.2 kB 2.1 MB/s eta 0:00:00
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.11.0 sqlparse-0.5.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:root@localhost/employees

In [3]:
import pandas as pd

In [4]:
%%sql
SELECT * FROM employees limit 10;

 * mysql+pymysql://root:***@localhost/employees
10 rows affected.

[(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26)),
 (10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21)),
 (10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28)),
 (10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1)),
 (10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12)),
 (10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2)),
 (10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10)),
 (10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15)),
 (10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18)),
 (10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))]

In [6]:
%%sql
create view male_employees as
select * from employees where gender='M' limit 200;

 * mysql+pymysql://root:***@localhost/employees
0 rows affected.

[]

In [8]:
%%sql
select * from male_employees;

 * mysql+pymysql://root:***@localhost/employees
200 rows affected.

[(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26)),
 (10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28)),
 (10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1)),
 (10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12)),
 (10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15)),
 (10012, datetime.date(1960, 10, 4), 'Patricio', 'Bridgland', 'M', datetime.date(1992, 12, 18)),
 (10013, datetime.date(1963, 6, 7), 'Eberhardt', 'Terkki', 'M', datetime.date(1985, 10, 20)),
 (10014, datetime.date(1956, 2, 12), 'Berni', 'Genin', 'M', datetime.date(1987, 3, 11)),
 (10015, datetime.date(1959, 8, 19), 'Guoxiang', 'Nooteboom', 'M', datetime.date(1987, 7, 2)),
 (10016, datetime.date(1961, 5, 2), 'Kazuhito', 'Cappelletti', 'M', datetime.date(1995, 1, 27)),
 (10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30)),
 (10020, datetime.date(1952, 12, 24), 'Mayuko', 'Warwick', 'M', datetime.date(1991, 1, 26)),
 (10021, datetime.date(1960, 2, 20), 'Ramzi', 'Erde', 'M', datetime.date(1988, 2, 10)),
 (10022, datetime.date(1952, 7, 8), 'Shahaf', 'Famili', 'M', datetime.date(1995, 8, 22)),
 (10025, datetime.date(1958, 10, 31), 'Prasadram', 'Heyers', 'M', datetime.date(1987, 8, 17)),
 (10026, datetime.date(1953, 4, 3), 'Yongqiao', 'Berztiss', 'M', datetime.date(1995, 3, 20)),
 (10028, datetime.date(1963, 11, 26), 'Domenick', 'Tempesti', 'M', datetime.date(1991, 10, 22)),
 (10029, datetime.date(1956, 12, 13), 'Otmar', 'Herbst', 'M', datetime.date(1985, 11, 20)),
 (10030, datetime.date(1958, 7, 14), 'Elvis', 'Demeyer', 'M', datetime.date(1994, 2, 17)),
 (10031, datetime.date(1959, 1, 27), 'Karsten', 'Joslin', 'M', datetime.date(1991, 9, 1)),
 (10033, datetime.date(1956, 11, 14), 'Arif', 'Merlo', 'M', datetime.date(1987, 3, 18)),
 (10034, datetime.date(1962, 12, 29), 'Bader', 'Swan', 'M', datetime.date(1988, 9, 21)),
 (10035, datetime.date(1953, 2, 8), 'Alain', 'Chappelet', 'M', datetime.date(1988, 9, 5)),
 (10036, datetime.date(1959, 8, 10), 'Adamantios', 'Portugali', 'M', datetime.date(1992, 1, 3)),
 (10037, datetime.date(1963, 7, 22), 'Pradeep', 'Makrucki', 'M', datetime.date(1990, 12, 5)),
 (10038, datetime.date(1960, 7, 20), 'Huan', 'Lortz', 'M', datetime.date(1989, 9, 20)),
 (10039, datetime.date(1959, 10, 1), 'Alejandro', 'Brender', 'M', datetime.date(1988, 1, 19)),
 (10043, datetime.date(1960, 9, 19), 'Yishay', 'Tzvieli', 'M', datetime.date(1990, 10, 20)),
 (10045, datetime.date(1957, 8, 14), 'Moss', 'Shanbhogue', 'M', datetime.date(1989, 9, 2)),
 (10046, datetime.date(1960, 7, 23), 'Lucien', 'Rosenbaum', 'M', datetime.date(1992, 6, 20)),
 (10047, datetime.date(1952, 6, 29), 'Zvonko', 'Nyanchama', 'M', datetime.date(1989, 3, 31)),
 (10048, datetime.date(1963, 7, 11), 'Florian', 'Syrotiuk', 'M', datetime.date(1985, 2, 24)),
 (10050, datetime.date(1958, 5, 21), 'Yinghua', 'Dredge', 'M', datetime.date(1990, 12, 25)),
 (10051, datetime.date(1953, 7, 28), 'Hidefumi', 'Caine', 'M', datetime.date(1992, 10, 15)),
 (10052, datetime.date(1961, 2, 26), 'Heping', 'Nitsch', 'M', datetime.date(1988, 5, 21)),
 (10054, datetime.date(1957, 4, 4), 'Mayumi', 'Schueller', 'M', datetime.date(1995, 3, 13)),
 (10055, datetime.date(1956, 6, 6), 'Georgy', 'Dredge', 'M', datetime.date(1992, 4, 27)),
 (10058, datetime.date(1954, 10, 1), 'Berhard', 'McFarlin', 'M', datetime.date(1987, 4, 13)),
 (10060, datetime.date(1961, 10, 15), 'Breannda', 'Billingsley', 'M', datetime.date(1987, 11, 2)),
 (10061, datetime.date(1962, 10, 19), 'Tse', 'Herber', 'M', datetime.date(1985, 9, 17)),
 (10062, datetime.date(1961, 11, 2), 'Anoosh', 'Peyn', 'M', datetime.date(1991, 8, 30)),
 (10064, datetime.date(1959, 4, 7), 'Udi', 'Jansch', 'M', datetime.date(1985, 11, 20)),
 (10065, datetime.date(1963, 4, 14), 'Satosi', 'Awdeh', 'M', datetime.date(1988, 5, 18)),
 (10066, datetime.date(1952, 11, 13), 'Kwee', 'Schusler', 'M', datetime.date(1986, 2, 26)),
 (10067, datetime.date(1953, 1, 7), 'Claudi', 'Stavenow', 'M', datetime.date(1987, 3, 4)),
 (10068, datetime.date(1962, 11, 26), 'Charlene', 'Brattka', 'M', datetime.date(1987, 8, 7)),
 (10070, datetime.date(1955, 8, 20), 'Reuven', 'Garigliano', 'M', datetime.date(1985, 10, 14)),
 (10071, datetime.date(1958, 1, 21), 'Hisao', 'Lipner', 'M', datetime.date(1987, 10, 1)),
 (10073, datetime.date(1954, 2, 23), 'Shir', 'McClurg', 'M', datetime.date(1991, 12, 1)),
 (10077, datetime.date(1964, 4, 18), 'Mona', 'Azuma', 'M', datetime.date(1990, 3, 2)),
 (10080, datetime.date(1957, 12, 3), 'Premal', 'Baek', 'M', datetime.date(1985, 11, 19)),
 (10081, datetime.date(1960, 12, 17), 'Zhongwei', 'Rosen', 'M', datetime.date(1986, 10, 30)),
 (10082, datetime.date(1963, 9, 9), 'Parviz', 'Lortz', 'M', datetime.date(1990, 1, 3)),
 (10083, datetime.date(1959, 7, 23), 'Vishv', 'Zockler', 'M', datetime.date(1987, 3, 31)),
 (10084, datetime.date(1960, 5, 25), 'Tuval', 'Kalloufi', 'M', datetime.date(1995, 12, 15)),
 (10085, datetime.date(1962, 11, 7), 'Kenroku', 'Malabarba', 'M', datetime.date(1994, 4, 9)),
 (10086, datetime.date(1962, 11, 19), 'Somnath', 'Foote', 'M', datetime.date(1990, 2, 16)),
 (10090, datetime.date(1961, 5, 30), 'Kendra', 'Hofting', 'M', datetime.date(1986, 3, 14)),
 (10091, datetime.date(1955, 10, 4), 'Amabile', 'Gomatam', 'M', datetime.date(1992, 11, 18)),
 (10093, datetime.date(1964, 6, 11), 'Sailaja', 'Desikan', 'M', datetime.date(1996, 11, 5)),
 (10095, datetime.date(1965, 1, 3), 'Hilari', 'Morton', 'M', datetime.date(1986, 7, 15)),
 (10096, datetime.date(1954, 9, 16), 'Jayson', 'Mandell', 'M', datetime.date(1990, 1, 14)),
 (10097, datetime.date(1952, 2, 27), 'Remzi', 'Waschkowski', 'M', datetime.date(1990, 9, 15)),
 (10103, datetime.date(1953, 11, 26), 'Akemi', 'Birch', 'M', datetime.date(1986, 12, 2)),
 (10104, datetime.date(1961, 11, 19), 'Xinyu', 'Warwick', 'M', datetime.date(1987, 4, 16)),
 (10105, datetime.date(1962, 2, 5), 'Hironoby', 'Piveteau', 'M', datetime.date(1999, 3, 23)),
 (10106, datetime.date(1952, 8, 29), 'Eben', 'Aingworth', 'M', datetime.date(1990, 12, 19)),
 (10108, datetime.date(1952, 4, 7), 'Lunjin', 'Giveon', 'M', datetime.date(1986, 10, 2)),
 (10113, datetime.date(1963, 11, 13), 'Jaewon', 'Syrzycki', 'M', datetime.date(1989, 12, 24)),
 (10115, datetime.date(1964, 12, 25), 'Chikara', 'Rissland', 'M', datetime.date(1986, 1, 23)),
 (10119, datetime.date(1960, 12, 1), 'Domenick', 'Peltason', 'M', datetime.date(1986, 3, 14)),
 (10121, datetime.date(1962, 7, 14), 'Guoxiang', 'Ramsay', 'M', datetime.date(1989, 5, 3)),
 (10122, datetime.date(1965, 1, 19), 'Ohad', 'Esposito', 'M', datetime.date(1992, 12, 23)),
 (10123, datetime.date(1962, 5, 12), 'Hinrich', 'Randi', 'M', datetime.date(1993, 1, 15)),
 (10124, datetime.date(1962, 5, 23), 'Geraldo', 'Marwedel', 'M', datetime.date(1991, 9, 5)),
 (10126, datetime.date(1954, 8, 7), 'Kayoko', 'Valtorta', 'M', datetime.date(1985, 9, 8)),
 (10129, datetime.date(1955, 12, 2), 'Armond', 'Peir', 'M', datetime.date(1985, 12, 10)),
 (10130, datetime.date(1955, 4, 27), 'Nishit', 'Casperson', 'M', datetime.date(1988, 6, 21)),
 (10131, datetime.date(1952, 2, 19), 'Magdalena', 'Eldridge', 'M', datetime.date(1994, 11, 17)),
 (10132, datetime.date(1956, 12, 15), 'Ayakannu', 'Skrikant', 'M', datetime.date(1994, 10, 30)),
 (10133, datetime.date(1963, 12, 12), 'Giri', 'Isaak', 'M', datetime.date(1985, 12, 15)),
 (10134, datetime.date(1953, 4, 15), 'Diederik', 'Siprelle', 'M', datetime.date(1987, 12, 12)),
 (10135, datetime.date(1956, 12, 23), 'Nathan', 'Monkewich', 'M', datetime.date(1988, 2, 19)),
 (10136, datetime.date(1961, 9, 14), 'Zissis', 'Pintelas', 'M', datetime.date(1986, 2, 11)),
 (10137, datetime.date(1959, 7, 30), 'Maren', 'Hutton', 'M', datetime.date(1985, 2, 18)),
 (10138, datetime.date(1955, 4, 24), 'Perry', 'Shimshoni', 'M', datetime.date(1986, 9, 18)),
 (10142, datetime.date(1956, 8, 29), 'Tzvetan', 'Hettesheimer', 'M', datetime.date(1993, 10, 28)),
 (10143, datetime.date(1961, 7, 16), 'Sakthirel', 'Bakhtari', 'M', datetime.date(1988, 9, 30)),
 (10144, datetime.date(1959, 6, 17), 'Marla', 'Brendel', 'M', datetime.date(1985, 10, 14)),
 (10146, datetime.date(1959, 1, 12), 'Chenyi', 'Syang', 'M', datetime.date(1988, 6, 28)),
 (10147, datetime.date(1964, 10, 13), 'Kazuhito', 'Encarnacion', 'M', datetime.date(1986, 8, 21)),
 (10148, datetime.date(1957, 10, 4), 'Douadi', 'Azumi', 'M', datetime.date(1995, 10, 10)),
 (10151, datetime.date(1959, 3, 6), 'Itzchak', 'Lichtner', 'M', datetime.date(1990, 4, 10)),
 (10153, datetime.date(1955, 12, 15), 'Heekeun', 'Majewski', 'M', datetime.date(1987, 4, 8)),
 (10155, datetime.date(1959, 12, 7), 'Adas', 'Nastansky', 'M', datetime.date(1990, 1, 5)),
 (10156, datetime.date(1964, 9, 19), 'Sumali', 'Fargier', 'M', datetime.date(1985, 3, 10)),
 (10157, datetime.date(1954, 4, 23), 'Nigel', 'Aloisi', 'M', datetime.date(1985, 11, 2)),
 (10158, datetime.date(1958, 4, 1), 'Khedija', 'Mitsuhashi', 'M', datetime.date(1986, 1, 29)),
 (10159, datetime.date(1955, 3, 3), 'Serif', 'Buescher', 'M', datetime.date(1991, 5, 29)),
 (10160, datetime.date(1953, 10, 18), 'Debatosh', 'Khasidashvili', 'M', datetime.date(1989, 1, 30)),
 (10162, datetime.date(1957, 10, 5), 'Florina', 'Eugenio', 'M', datetime.date(1991, 5, 1)),
 (10163, datetime.date(1952, 9, 17), 'Karsten', 'Szmurlo', 'M', datetime.date(1989, 7, 19)),
 (10164, datetime.date(1956, 1, 19), 'Jagoda', 'Braunmuhl', 'M', datetime.date(1985, 11, 12)),
 (10165, datetime.date(1960, 6, 16), 'Miyeon', 'Macedo', 'M', datetime.date(1988, 5, 17)),
 (10167, datetime.date(1958, 5, 23), 'Duangkaew', 'Rassart', 'M', datetime.date(1992, 4, 4)),
 (10168, datetime.date(1964, 9, 11), 'Dharmaraja', 'Stassinopoulos', 'M', datetime.date(1986, 12, 6)),
 (10171, datetime.date(1957, 9, 11), 'Herbert', 'Trachtenberg', 'M', datetime.date(1989, 7, 22)),
 (10173, datetime.date(1962, 10, 28), 'Shrikanth', 'Mahmud', 'M', datetime.date(1992, 3, 21)),
 (10174, datetime.date(1959, 5, 15), 'Badri', 'Furudate', 'M', datetime.date(1987, 6, 1)),
 (10177, datetime.date(1954, 11, 8), 'Pragnesh', 'Iisaka', 'M', datetime.date(1993, 2, 6)),
 (10178, datetime.date(1963, 3, 13), 'Valery', 'Litvinov', 'M', datetime.date(1986, 10, 7)),
 (10180, datetime.date(1956, 1, 29), 'Shaw', 'Wendorf', 'M', datetime.date(1986, 2, 25)),
 (10181, datetime.date(1963, 1, 22), 'Sibyl', 'Nooteboom', 'M', datetime.date(1988, 6, 22)),
 (10183, datetime.date(1954, 10, 17), 'Mechthild', 'Bonifati', 'M', datetime.date(1996, 8, 11)),
 (10184, datetime.date(1957, 5, 22), 'Mihalis', 'Lowrie', 'M', datetime.date(1987, 10, 29)),
 (10186, datetime.date(1953, 7, 16), 'Shigehito', 'Kropatsch', 'M', datetime.date(1986, 3, 28)),
 (10189, datetime.date(1955, 11, 12), 'Khalid', 'Erva', 'M', datetime.date(1989, 10, 5)),
 (10191, datetime.date(1959, 4, 8), 'Zdislav', 'Nastansky', 'M', datetime.date(1986, 4, 10)),
 (10192, datetime.date(1960, 9, 16), 'Mohua', 'Falck', 'M', datetime.date(1988, 6, 13)),
 (10193, datetime.date(1960, 6, 29), 'Masaru', 'Cheshire', 'M', datetime.date(1991, 7, 28)),
 (10195, datetime.date(1963, 11, 13), 'Annemarie', 'Redmiles', 'M', datetime.date(1985, 2, 15)),
 (10196, datetime.date(1954, 1, 27), 'Marc', 'Hellwagner', 'M', datetime.date(1994, 11, 16)),
 (10198, datetime.date(1953, 5, 28), 'Pranav', 'Furedi', 'M', datetime.date(1985, 8, 31)),
 (10199, datetime.date(1959, 4, 7), 'Kazuhisa', 'Ranta', 'M', datetime.date(1997, 4, 29)),
 (10200, datetime.date(1961, 12, 31), 'Vidya', 'Awdeh', 'M', datetime.date(1985, 10, 16)),
 (10202, datetime.date(1956, 1, 5), 'Greger', 'Lichtner', 'M', datetime.date(1991, 10, 6)),
 (10203, datetime.date(1955, 7, 27), 'Steen', 'Escriba', 'M', datetime.date(1989, 4, 6)),
 (10208, datetime.date(1960, 1, 2), 'Xiping', 'Klerer', 'M', datetime.date(1991, 12, 23)),
 (10210, datetime.date(1958, 1, 24), 'Yuping', 'Alpin', 'M', datetime.date(1994, 5, 10)),
 (10212, datetime.date(1959, 5, 9), 'Divier', 'Esteva', 'M', datetime.date(1990, 7, 11)),
 (10213, datetime.date(1964, 5, 24), 'Jackson', 'Kakkad', 'M', datetime.date(1992, 11, 6)),
 (10214, datetime.date(1962, 4, 14), 'Tadahiko', 'Ciolek', 'M', datetime.date(1988, 2, 29)),
 (10215, datetime.date(1954, 4, 2), 'Xiaobin', 'Duclos', 'M', datetime.date(1987, 10, 19)),
 (10216, datetime.date(1958, 7, 16), 'Amstein', 'Ghemri', 'M', datetime.date(1987, 10, 30)),
 (10218, datetime.date(1958, 12, 7), 'Zhenhua', 'Magalhaes', 'M', datetime.date(1997, 1, 15)),
 (10219, datetime.date(1952, 5, 2), 'Genta', 'Kolvik', 'M', datetime.date(1993, 3, 31)),
 (10221, datetime.date(1957, 1, 3), 'Yucai', 'Granlund', 'M', datetime.date(1988, 6, 8)),
 (10222, datetime.date(1962, 9, 21), 'Tze', 'Nourani', 'M', datetime.date(1986, 6, 8)),
 (10224, datetime.date(1954, 5, 17), 'Leon', 'Trogemann', 'M', datetime.date(1988, 1, 9)),
 (10226, datetime.date(1964, 12, 28), 'Xinglin', 'Plessier', 'M', datetime.date(1989, 10, 27)),
 (10227, datetime.date(1957, 7, 4), 'Anneli', 'Kaiser', 'M', datetime.date(1994, 4, 24)),
 (10229, datetime.date(1952, 2, 10), 'Ulises', 'Takanami', 'M', datetime.date(1987, 11, 22)),
 (10230, datetime.date(1955, 9, 11), 'Clyde', 'Vernadat', 'M', datetime.date(1996, 6, 16)),
 (10234, datetime.date(1961, 1, 18), 'Arunachalam', 'Bakhtari', 'M', datetime.date(1990, 11, 19)),
 (10240, datetime.date(1952, 4, 1), 'Remko', 'Maccarone', 'M', datetime.date(1998, 10, 6)),
 (10241, datetime.date(1958, 7, 1), 'Ortrud', 'Murillo', 'M', datetime.date(1988, 6, 12)),
 (10242, datetime.date(1964, 2, 22), 'Lunjin', 'Ozeri', 'M', datetime.date(1988, 1, 18)),
 (10243, datetime.date(1960, 12, 22), 'Wonhee', 'Pouyioutas', 'M', datetime.date(1985, 11, 24)),
 (10244, datetime.date(1961, 10, 24), 'Foong', 'Flasterstein', 'M', datetime.date(1985, 12, 23)),
 (10246, datetime.date(1962, 6, 23), 'Basem', 'Teitelbaum', 'M', datetime.date(1987, 7, 12)),
 (10249, datetime.date(1954, 6, 10), 'Marie', 'Boreale', 'M', datetime.date(1991, 12, 8)),
 (10250, datetime.date(1958, 8, 12), 'Serap', 'Etalle', 'M', datetime.date(1992, 8, 30)),
 (10251, datetime.date(1957, 4, 25), 'Alair', 'Rosenbaum', 'M', datetime.date(1992, 6, 25)),
 (10254, datetime.date(1959, 12, 7), 'Shen', 'Brattka', 'M', datetime.date(1990, 6, 14)),
 (10255, datetime.date(1964, 2, 8), 'Roddy', 'Garnick', 'M', datetime.date(1993, 5, 12)),
 (10256, datetime.date(1960, 12, 2), 'Irene', 'Radhakrishnan', 'M', datetime.date(1985, 10, 12)),
 (10257, datetime.date(1957, 9, 12), 'Aiman', 'Riexinger', 'M', datetime.date(1986, 8, 5)),
 (10259, datetime.date(1964, 11, 24), 'Susanna', 'Vesel', 'M', datetime.date(1986, 6, 25)),
 (10261, datetime.date(1959, 12, 25), 'Mang', 'Erie', 'M', datetime.date(1993, 10, 20)),
 (10263, datetime.date(1961, 2, 8), 'Takahiro', 'Waterhouse', 'M', datetime.date(1994, 2, 5)),
 (10265, datetime.date(1960, 12, 1), 'Ramalingam', 'Muniz', 'M', datetime.date(1989, 7, 13)),
 (10266, datetime.date(1958, 2, 24), 'Sukumar', 'Rassart', 'M', datetime.date(1990, 5, 25)),
 (10267, datetime.date(1956, 1, 16), 'Shaunak', 'Cullers', 'M', datetime.date(1996, 12, 11)),
 (10268, datetime.date(1958, 6, 3), 'Nishit', 'Siochi', 'M', datetime.date(1986, 12, 17)),
 (10271, datetime.date(1962, 4, 24), 'Sham', 'Eastman', 'M', datetime.date(1986, 5, 23)),
 (10272, datetime.date(1954, 11, 30), 'Yishai', 'Cannane', 'M', datetime.date(1988, 5, 23)),
 (10273, datetime.date(1962, 8, 29), 'Baocai', 'Lieblein', 'M', datetime.date(1985, 11, 6)),
 (10276, datetime.date(1964, 7, 27), 'Xuejun', 'Hempstead', 'M', datetime.date(1985, 7, 21)),
 (10277, datetime.date(1964, 8, 15), 'Isaac', 'Schwartzbauer', 'M', datetime.date(1985, 6, 16)),
 (10278, datetime.date(1955, 3, 9), 'Lubomir', 'Nitsch', 'M', datetime.date(1991, 5, 17)),
 (10280, datetime.date(1964, 10, 29), 'Stabislas', 'Delgrange', 'M', datetime.date(1988, 3, 18)),
 (10281, datetime.date(1953, 5, 13), 'Moty', 'Kusakari', 'M', datetime.date(1994, 12, 3)),
 (10282, datetime.date(1953, 11, 27), 'Hercules', 'Benzmuller', 'M', datetime.date(1986, 6, 4)),
 (10283, datetime.date(1953, 7, 8), 'Kauko', 'Birjandi', 'M', datetime.date(1988, 5, 25)),
 (10287, datetime.date(1963, 11, 28), 'Marie', 'Pietracaprina', 'M', datetime.date(1992, 12, 28)),
 (10288, datetime.date(1959, 6, 2), 'Selwyn', 'Perri', 'M', datetime.date(1994, 8, 29)),
 (10289, datetime.date(1956, 11, 30), 'Shay', 'Poulakidas', 'M', datetime.date(1990, 6, 6)),
 (10290, datetime.date(1957, 5, 29), 'Yongmao', 'Pleszkun', 'M', datetime.date(1991, 9, 18)),
 (10291, datetime.date(1965, 1, 23), 'Dipayan', 'Seghrouchni', 'M', datetime.date(1986, 9, 29)),
 (10294, datetime.date(1955, 1, 5), 'Rutger', 'Miara', 'M', datetime.date(1996, 4, 8)),
 (10295, datetime.date(1953, 1, 13), 'Kristine', 'Velardi', 'M', datetime.date(1990, 8, 27)),
 (10296, datetime.date(1964, 5, 13), 'Petter', 'Lorho', 'M', datetime.date(1989, 9, 16)),
 (10301, datetime.date(1962, 8, 26), 'Lucien', 'Staudhammer', 'M', datetime.date(1988, 5, 23)),
 (10303, datetime.date(1961, 9, 11), 'Marlo', 'Zschoche', 'M', datetime.date(1990, 2, 5)),
 (10304, datetime.date(1956, 3, 7), 'Bernt', 'Erie', 'M', datetime.date(1992, 11, 16)),
 (10305, datetime.date(1952, 6, 30), 'Hirochika', 'Piancastelli', 'M', datetime.date(1988, 10, 31)),
 (10306, datetime.date(1953, 6, 2), 'Heng', 'Kilgour', 'M', datetime.date(1993, 9, 6)),
 (10307, datetime.date(1955, 7, 20), 'Nikolaos', 'Leaver', 'M', datetime.date(1991, 4, 10)),
 (10310, datetime.date(1964, 8, 29), 'Aksel', 'Alencar', 'M', datetime.date(1990, 10, 24)),
 (10313, datetime.date(1962, 5, 30), 'Subbu', 'Riexinger', 'M', datetime.date(1994, 10, 10)),
 (10314, datetime.date(1961, 5, 4), 'Christfried', 'Apsitis', 'M', datetime.date(1986, 1, 16)),
 (10315, datetime.date(1956, 8, 3), 'Maris', 'Angelopoulos', 'M', datetime.date(1987, 8, 28)),
 (10316, datetime.date(1958, 6, 20), 'Christoper', 'Schwaller', 'M', datetime.date(1987, 9, 4)),
 (10317, datetime.date(1957, 12, 25), 'Arie', 'Birge', 'M', datetime.date(1986, 12, 10)),
 (10319, datetime.date(1963, 3, 9), 'Mechthild', 'Miyakawa', 'M', datetime.date(1985, 8, 15)),
 (10321, datetime.date(1955, 12, 12), 'Guenter', 'Ravishankar', 'M', datetime.date(1991, 9, 24)),
 (10323, datetime.date(1958, 6, 20), 'Kankanahalli', 'Hinsberger', 'M', datetime.date(1991, 6, 6)),
 (10325, datetime.date(1953, 1, 12), 'Arunachalam', 'Badr', 'M', datetime.date(1990, 9, 20)),
 (10327, datetime.date(1954, 4, 1), 'Roded', 'Facello', 'M', datetime.date(1987, 9, 18)),
 (10328, datetime.date(1955, 6, 28), 'Serenella', 'Kawashima', 'M', datetime.date(1994, 1, 16))]

In [4]:
%%sql
SELECT 
    e.emp_no, e.first_name, e.last_name, d.dept_name
FROM 
    employees e
JOIN 
    dept_manager dm ON e.emp_no = dm.emp_no
JOIN 
    departments d ON d.dept_no = dm.dept_no;

 * mysql+pymysql://root:***@localhost/employees
24 rows affected.

[(111692, 'Tonny', 'Butterworth', 'Customer Service'),
 (111784, 'Marjo', 'Giarratana', 'Customer Service'),
 (111877, 'Xiaobin', 'Spinelli', 'Customer Service'),
 (111939, 'Yuchang', 'Weedman', 'Customer Service'),
 (110511, 'DeForest', 'Hagimont', 'Development'),
 (110567, 'Leon', 'DasSarma', 'Development'),
 (110085, 'Ebru', 'Alpin', 'Finance'),
 (110114, 'Isamu', 'Legleitner', 'Finance'),
 (110183, 'Shirish', 'Ossenbruggen', 'Human Resources'),
 (110228, 'Karsten', 'Sigstam', 'Human Resources'),
 (110022, 'Margareta', 'Markovitch', 'Marketing'),
 (110039, 'Vishwani', 'Minakawa', 'Marketing'),
 (110303, 'Krassimir', 'Wegerle', 'Production'),
 (110344, 'Rosine', 'Cools', 'Production'),
 (110386, 'Shem', 'Kieras', 'Production'),
 (110420, 'Oscar', 'Ghazalie', 'Production'),
 (110725, 'Peternela', 'Onuegbe', 'Quality Management'),
 (110765, 'Rutger', 'Hofmeyr', 'Quality Management'),
 (110800, 'Sanjoy', 'Quadeer', 'Quality Management'),
 (110854, 'Dung', 'Pesch', 'Quality Management'),
 (111400, 'Arie', 'Staelin', 'Research'),
 (111534, 'Hilary', 'Kambil', 'Research'),
 (111035, 'Przemyslawa', 'Kaelbling', 'Sales'),
 (111133, 'Hauke', 'Zhang', 'Sales')]

In [15]:
result = %%sql
         SELECT 
         e.emp_no, e.first_name, e.last_name, d.dept_name
         FROM 
         employees e
         JOIN 
         dept_manager dm ON e.emp_no = dm.emp_no
         JOIN 
         departments d ON d.dept_no = dm.dept_no;

SyntaxError: invalid syntax (1057224178.py, line 1)

In [17]:
result = %sql SELECT e.emp_no, e.first_name, e.last_name, d.dept_name 
              FROM employees e 
              JOIN dept_manager dm ON e.emp_no = dm.emp_no 
              JOIN departments d ON d.dept_no = dm.dept_no;

IndentationError: unexpected indent (960486109.py, line 2)

In [5]:
result = %sql SELECT e.emp_no, e.first_name, e.last_name, d.dept_name \
              FROM employees e \
              JOIN dept_manager dm ON e.emp_no = dm.emp_no \
              JOIN departments d ON d.dept_no = dm.dept_no;

 * mysql+pymysql://root:***@localhost/employees
24 rows affected.

In [6]:
employees_df = pd.DataFrame(result)

In [7]:
employees_df.head()

   emp_no first_name    last_name         dept_name
0  111692      Tonny  Butterworth  Customer Service
1  111784      Marjo   Giarratana  Customer Service
2  111877    Xiaobin     Spinelli  Customer Service
3  111939    Yuchang      Weedman  Customer Service
4  110511   DeForest     Hagimont       Development

In [8]:
employees_df.dtypes

emp_no         int64
first_name    object
last_name     object
dept_name     object
dtype: object