In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\Sanjay\\OneDrive\\Desktop\\pandas\\etherium_time_series.csv")
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  object
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.3+ MB

In [4]:
df.head(4)

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92

In [5]:
df.loc[0,"Date"]

'2020-03-13 08-PM'

In [8]:
df.loc[0,"Date"].dt.day_name()

AttributeError: 'str' object has no attribute 'dt'

In [7]:
pd.to_datetime(df['Date'])

C:\Users\Sanjay\AppData\Local\Temp\ipykernel_21496\524101355.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df['Date'])

DateParseError: Unknown datetime string format, unable to parse: 2020-03-13 08-PM, at position 0

In [9]:
df.loc[0,"Date"]

'2020-03-13 08-PM'

In [10]:
pd.to_datetime(df['Date'], format="%Y-%m-%d %I-%p")

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [11]:
df['Date'] = pd.to_datetime(df['Date'], format="%Y-%m-%d %I-%p")
df['Date']

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [12]:
print(df.loc[0,'Date'])
df.loc[0,'Date'].day_name()

2020-03-13 20:00:00

'Friday'

In [13]:
df['Date'].apply(lambda x : x.day_name())

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [14]:
df['Day Name'] = df['Date'].apply(lambda x : x.day_name())
df

,Date,Symbol,Open,High,Low,Close,Volume,Day Name
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [15]:
df.drop(columns=["Day Name"],axis='columns',inplace=True)
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [16]:
df['Date'].dt.year

0        2020
1        2020
2        2020
3        2020
4        2020
         ...
23669    2017
23670    2017
23671    2017
23672    2017
23673    2017
Name: Date, Length: 23674, dtype: int32

In [17]:
df['Year'] = df['Date'].dt.year
df

,Date,Symbol,Open,High,Low,Close,Volume,Year
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,2020
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,2020
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,2020
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,2020
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,2020
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,2017
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,2017
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,2017
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,2017
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,2017

In [18]:
df['Date'].dt.month

0        3
1        3
2        3
3        3
4        3
        ..
23669    7
23670    7
23671    7
23672    7
23673    7
Name: Date, Length: 23674, dtype: int32

In [19]:
df['Month'] = df['Date'].dt.month
df

,Date,Symbol,Open,High,Low,Close,Volume,Year,Month
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,2020,3
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,2020,3
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,2020,3
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,2020,3
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,2020,3
...,...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,2017,7
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,2017,7
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,2017,7
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,2017,7
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,2017,7

In [20]:
df['Date'].dt.month_name()

0        March
1        March
2        March
3        March
4        March
         ...
23669     July
23670     July
23671     July
23672     July
23673     July
Name: Date, Length: 23674, dtype: object

In [21]:
df['Month Name'] = df['Date'].dt.month_name()
df

,Date,Symbol,Open,High,Low,Close,Volume,Year,Month,Month Name
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,2020,3,March
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,2020,3,March
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,2020,3,March
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,2020,3,March
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,2020,3,March
...,...,...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,2017,7,July
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,2017,7,July
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,2017,7,July
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,2017,7,July
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,2017,7,July

In [22]:
df['Date'].dt.day

0        13
1        13
2        13
3        13
4        13
         ..
23669     1
23670     1
23671     1
23672     1
23673     1
Name: Date, Length: 23674, dtype: int32

In [23]:
df['Day'] = df['Date'].dt.day
df

,Date,Symbol,Open,High,Low,Close,Volume,Year,Month,Month Name,Day
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,2020,3,March,13
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,2020,3,March,13
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,2020,3,March,13
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,2020,3,March,13
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,2020,3,March,13
...,...,...,...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,2017,7,July,1
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,2017,7,July,1
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,2017,7,July,1
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,2017,7,July,1
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,2017,7,July,1

In [24]:
df['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [25]:
df['Day Name'] = df['Date'].dt.day_name()
df

,Date,Symbol,Open,High,Low,Close,Volume,Year,Month,Month Name,Day,Day Name
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,2020,3,March,13,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,2020,3,March,13,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,2020,3,March,13,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,2020,3,March,13,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,2020,3,March,13,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,2017,7,July,1,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,2017,7,July,1,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,2017,7,July,1,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,2017,7,July,1,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,2017,7,July,1,Saturday

In [26]:
df['Date'].dt.hour

0        20
1        19
2        18
3        17
4        16
         ..
23669    15
23670    14
23671    13
23672    12
23673    11
Name: Date, Length: 23674, dtype: int32

In [27]:
df['Date'].dt.minute

0        0
1        0
2        0
3        0
4        0
        ..
23669    0
23670    0
23671    0
23672    0
23673    0
Name: Date, Length: 23674, dtype: int32

In [28]:
df['Date'].dt.second

0        0
1        0
2        0
3        0
4        0
        ..
23669    0
23670    0
23671    0
23672    0
23673    0
Name: Date, Length: 23674, dtype: int32

In [29]:
df['Time'] = df['Date'].dt.hour
df

,Date,Symbol,Open,High,Low,Close,Volume,Year,Month,Month Name,Day,Day Name,Time
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,2020,3,March,13,Friday,20
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,2020,3,March,13,Friday,19
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,2020,3,March,13,Friday,18
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,2020,3,March,13,Friday,17
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,2020,3,March,13,Friday,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,2017,7,July,1,Saturday,15
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,2017,7,July,1,Saturday,14
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,2017,7,July,1,Saturday,13
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,2017,7,July,1,Saturday,12
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,2017,7,July,1,Saturday,11

In [30]:
df['Date'].dt.quarter

0        1
1        1
2        1
3        1
4        1
        ..
23669    3
23670    3
23671    3
23672    3
23673    3
Name: Date, Length: 23674, dtype: int32

In [31]:
df['Quarter'] = df['Date'].dt.quarter
df

,Date,Symbol,Open,High,Low,Close,Volume,Year,Month,Month Name,Day,Day Name,Time,Quarter
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,2020,3,March,13,Friday,20,1
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,2020,3,March,13,Friday,19,1
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,2020,3,March,13,Friday,18,1
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,2020,3,March,13,Friday,17,1
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,2020,3,March,13,Friday,16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,2017,7,July,1,Saturday,15,3
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,2017,7,July,1,Saturday,14,3
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,2017,7,July,1,Saturday,13,3
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,2017,7,July,1,Saturday,12,3
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,2017,7,July,1,Saturday,11,3

In [38]:
df.to_csv("C:\\Users\\Sanjay\\OneDrive\\Desktop\\pandas\\ethirium.csv")

In [32]:
import pandas as pd

# Define the parser function using pd.to_datetime
parser = lambda x: pd.to_datetime(x, format="%Y-%m-%d %I-%p")

# Read the CSV file using the custom parser
df2 = pd.read_csv(
    "C:\\Users\\Sanjay\\OneDrive\\Desktop\\pandas\\etherium_time_series.csv",
    parse_dates=['Date'],
    date_parser=parser
)

# Display the first few rows of the DataFrame
print(df2.head())

C:\Users\Sanjay\AppData\Local\Temp\ipykernel_21496\768880605.py:7: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df2 = pd.read_csv(

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3 2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4 2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [33]:
df2.dtypes

Date      datetime64[ns]
Symbol            object
Open             float64
High             float64
Low              float64
Close            float64
Volume           float64
dtype: object

In [34]:
df3 = pd.read_csv("C:\\Users\\Sanjay\\OneDrive\\Desktop\\pandas\\employees.csv", parse_dates=["birth_date","hire_date"])
df3

    emp_no birth_date   first_name    last_name gender  hire_date
0    10001 1953-09-02       Georgi      Facello      M 1986-06-26
1    10002 1964-06-02      Bezalel       Simmel      F 1985-11-21
2    10003 1959-12-03        Parto      Bamford      M 1986-08-28
3    10004 1954-05-01    Chirstian      Koblick      M 1986-12-01
4    10005 1955-01-21      Kyoichi     Maliniak      M 1989-09-12
..     ...        ...          ...          ...    ...        ...
95   10096 1954-09-16       Jayson      Mandell      M 1990-01-14
96   10097 1952-02-27        Remzi  Waschkowski      M 1990-09-15
97   10098 1961-09-23  Sreekrishna    Servieres      F 1985-05-13
98   10099 1956-05-25       Valter      Sullins      F 1988-10-18
99   10100 1953-04-21     Hironobu    Haraldson      F 1987-09-21

[100 rows x 6 columns]

In [35]:
df3.dtypes

emp_no                 int64
birth_date    datetime64[ns]
first_name            object
last_name             object
gender                object
hire_date     datetime64[ns]
dtype: object

In [36]:
df3['hire_date'].dt.day_name()

0     Thursday
1     Thursday
2     Thursday
3       Monday
4      Tuesday
        ...
95      Sunday
96    Saturday
97      Monday
98     Tuesday
99      Monday
Name: hire_date, Length: 100, dtype: object

In [37]:
df3['hire_date'].min()

Timestamp('1985-02-18 00:00:00')

In [ ]:
df3['hire_date'].max()

In [ ]:
df3['hire_date'].max() - df3['hire_date'].min()

In [ ]:
filt = df3['hire_date'] > '1991-01-01'
print(df3.loc[filt].head()),print(' ')

print("min_date = ",df3.loc[filt,"hire_date"].min())
print("max_date = ",df3.loc[filt,"hire_date"].max())

In [ ]:
filt2 = (df3['hire_date'] >= '1995-01-01') & (df3['hire_date'] <= '1995-12-31')
print(df3.loc[filt2]),print(' ')
print("min date = ",df3.loc[filt2,"hire_date"].min())
print("max date = ",df3.loc[filt2,"hire_date"].max())

In [ ]:
df3

In [ ]:
df3.set_index("hire_date", inplace=True)
df3

In [ ]:
df3.loc['1990-01-01':'1993-05-20']

In [ ]:
df3.loc['1990-01-01':'1993-05-20'].sort_index()

In [ ]:
df4 = pd.read_csv("C:\\Users\\Sanjay\\OneDrive\\Desktop\\pandas\\employees.csv", parse_dates=["birth_date","hire_date"])

In [ ]:
df4.dtypes

In [ ]:
df4['hire_date']=pd.to_datetime(df4['hire_date'])
df4.dtypes

In [ ]:
df4.head()

In [ ]:
df4.set_index('hire_date', inplace=True)
df4

In [ ]:
df4.loc['1986-06-26':]

In [ ]:
df4.loc['1997-01-01':,"salary"]

In [ ]:
"""average salary of employees from {1997-04-30} to {1999-04-30} """
df4.loc['1997-04-30':'1999-04-30',"salary"].median()

In [ ]:
"""max salary of a employe from {1997-04-30} to {1999-04-30} """
df4.loc['1997-04-30':'1999-04-30',"salary"].max()

In [ ]:
"""minimum salary of a employe from {1997-04-30} to {1999-04-30} """
df4.loc['1997-04-30':'1999-04-30',"salary"].max()

In [ ]:
df4['salary'].resample('D').max()

In [ ]:
df4.isnull().sum()

In [ ]:
df

In [ ]:
df.set_index('Date',inplace=True)
df

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
df.set_index('Date', inplace=True)
df

In [ ]:
df['2020']

In [ ]:
df.loc['2020','High']

In [ ]:
df.loc['2020','High'].sort_index()

In [ ]:
df.loc['2020-01-01','High']

In [ ]:
df.loc['2020-01-01','High'].count()

In [ ]:
"""highest rate of etherium at 2020-01-01"""
df.loc['2020-01-01','High'].max()

In [ ]:
"""lowest rate of ethirium at 2020-01-01"""
df.loc['2020-01-01','High'].min()

In [ ]:
df['High']

In [ ]:
df['High'].resample('D')

In [ ]:
"""Highest rate of ethirium for each day"""
df['High'].resample('D').max()

In [ ]:
"""Highest rate of ethirium for each week"""
df['High'].resample('W').max()

In [ ]:
df['High'].resample('W').mean()